//Main color
$color-main:        #666;
$color-title:       #000;
$color-white:       #fff;

$bg-white:          #fff;

$screen-md:         1200px;
$screen-sm:         767px;
$screen-xs:         560px;

